.dark-theme {
  .as-faq {
    --as-faq-divider: rgba(255, 255, 255, 0.16);

    .as-faq-title,
    .as-faq-question {
      color: #E8E8E8;
    }

    .as-faq-answer {
      color: #B1B1B1;
    }
  }
}
