.dark-theme {
  .as-footer {
    color: #fff;

    .as-footer-bottom,
    .as-footer-bottom a,
    .as-footer-bottom span {
      color: #B1B1B1;
    }

    .as-footer-bg-logo {
      background-image: url("../../../logos/dark/logo.png");
    }

    .as-footer-bg-shape {
      background-image: url("../../../logos/dark/logo2.png");
    }
  }
}
