.dark-theme {
  .ASNavbar {
    background: transparent;

    .nav-logo {
      background-image: url("../../../logos/full_logo_color.svg");
    }

    .mobile-menu-btn span {
      background: rgb(168, 167, 167);
    }
  }
}
