.dark-theme {
  .as-process {
    .as-process-number {
      color: rgba(255, 255, 255, 0.1);
    }

    .as-process-title {
      color: #E8E8E8;
    }

    .as-process-card-title {
      color: #E8E8E8;
    }

    .as-process-card-description {
      color: #65696F;
    }

    .as-process-cta {
      color: #E8E8E8;
    }
  }
}
