.dark-theme {
  .as-tropics-cards {
    .as-performance-card {
      background-color: #ffffff;
      color: #000000;
    }

    .as-performance-bars span.active {
      background: #ff5c58;
    }

    .as-performance-bars span.inactive {
      background: rgba(255, 92, 88, 0.45);
    }

    .as-performance-percentage {
      color: #fc615a;
    }
  }

  .as-tropics-section {
    .as-tropics-text .header {
      color: #e8e8e8;
    }

    .as-tropics-text .subtext {
      color: #65696f;
    }
  }
}
