.light-theme {
  .as-impact::before {
    background-image: url("../../../images/light/calculator_bg_light.png");
  }

  .as-impact {
    .as-impact-heading {
      h2 {
        color: #FAFAFA;
      }

      p {
        color: #E8E8E8;
      }
    }

    .as-impact-card {
      border: 1px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 24px 90px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(5px);
    }

    .as-slider-question {
      color: #E8E8E8;
    }

    .as-slider-labels {
      color: #E8E8E8;
    }

    .as-system-size span {
      color: #9CA3AF;
    }

    .as-result-label {
      color: #E3E3E3;
    }

    .as-impact-note {
      color: #E8E8E8;
    }
  }
}
