.light-theme {
  .as-footer {
    color: #0B0B0B;

    .as-footer-bottom,
    .as-footer-bottom a,
    .as-footer-bottom span {
      color: #484848;
    }

    .as-footer-bg-logo {
      background-image: url("../../../logos/dark/logo.png");
      filter: invert(1);
    }

    .as-footer-bg-shape {
      background-image: url("../../../logos/light/logo2.png");
    }
  }
}
