.light-theme {
  .ASNavbar {
    background: #ffffff;

    .nav-menu li {
      color: #555555;

      .active {
        color: #111111;
      }

      li:hover {
        color: #000000;
      }
    }

    .mobile-menu-btn span {
      background: black;
    }

    .nav-logo {
      background-image: url("../../../logos/full_logo_color2.svg");
    }
  }
}
