.light-theme {
  .as-process {
    .as-process-number {
      color: #484848;
    }

    .as-process-title {
      color: #484848;
    }

    .as-process-card-title {
      color: #0B0B0B;
    }

    .as-process-card-description {
      color: #0E0E0E;
    }

    .as-process-cta {
      color: #0B0B0B;
    }
  }
}
