.light-theme {
  .as-tropics-cards {
    .as-performance-card {
      background-color: #FC615A;
      color: #fff;
    }

    .as-performance-bars span.active {
      background: #fff;
    }

    .as-performance-bars span.inactive {
      background: rgba(250, 231, 230, 0.877);
    }
  }

  .as-tropics-section {
    .as-tropics-text .header {
      color: #0B0B0B;
    }

    .as-tropics-text .subtext {
      color: #0E0E0E;
    }
  }
}
